body {
    margin: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
    
    }
.avatar {
    width: 400px;
    

}   

.card {
    width: 400px;
    margin: 20px auto;
    padding: 50px;
    display: flex;
    justify-content: space-around; 
    text-align: center;
    background: -webkit-linear-gradient(red);
    color: goldenrod;
    border-bottom: 6px solid #ddebfe;


}
.border-blue {
    border: 1px dotted peru; 
}

      

 