.main {
    text-align: center;
    margin-top: 20px;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
.search input {
    text-align: center;
    width: 600%;
    margin-left: auto;
    margin-right: auto;  
    line-height: 24px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}  
.btn-wrapper {
    display: flex;
    justify-content: center;
} 
 .bnt {
    margin-left: 4px;
    margin-right: 4px;
    text-align: center;     
    font-size: 16px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-right: 16px;
    padding-left: 16px;  
    background-color: #dfe1e5;
    border-radius: 4px;

} 