

body { 
    margin-top: opx;
    margin: 0px;
    text-align: center; /* left, center or right */
    font-size: 50px;   /* 0px to 100px */
    margin: auto;
    text-align: ;center; /* left, center or right */
}
    .red {
        background: red;
        height: 100px;
        margin-top: 10px;
        margin-bottom: 10px;
}  
    .blue {
        background: blue;
        height: 100px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .green {
        background:green;
        height: 100px;
    }   