.card {
    color: 222222;
    background-color:lightgray; 
    width: 300px;
    display: block;
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: 4px solid blue; 
    border-radius: 20px;
}
   